<h2>Consultar Endereço</h2>
<div class="col-md-8 col-md-offset-2">
    <div class="form-group">
        <md-input-container>
            <input mdInput type="text" required [(ngModel)]="cep" placeholder="Digite o cep sem o traço" />
        </md-input-container>
        <br>
        <button md-raised-button color="primary" (click)="callCepService()">Pesquisar</button>
    </div>
    <br>
    <br>
    <p>
        <b>CEP: </b> {{this.cep}} <br>
        <b>Logradouro: </b> {{this.logradouro}} <br>
        <b>Complemento: </b> {{this.complemento}} <br>
        <b>Bairro: </b> {{this.bairro}} <br>
        <b>Localidade: </b> {{this.localidade}} <br>
        <b>UF: </b> {{this.uf}} <br>
    </p>
</div>