<h2>Filmes e Séries</h2>
<div class="col-md-8 col-md-offset-2">
    <div class="form-group">
        <md-input-container>
            <input mdInput type="text" required [(ngModel)]="id_movie" (change)="callMovieService()" class="form-control" placeholder="Nome do filme">
        </md-input-container>
        <br>
        <button md-raised-button color="primary" (click)="openDialog()">Pesquisar</button>
    </div>
    <br>
    <br>
    <md-card class="movie-card">
        <md-card-header>
            <div md-card-avatar></div>
            <md-card-title> {{ this.mv_Title }} </md-card-title>
            <md-card-subtitle> Lançado em {{ this.mv_Released }}</md-card-subtitle>
        </md-card-header>
        <img [src]=this.mv_Poster />
        <md-card-content>
            <p class="well lead">
                <b> Sinopse :</b> {{ this.mv_Plot }} <br>
                <b> Elenco :</b> {{ this.mv_Actors }} <br>
                <b> Diretor :</b> {{ this.mv_Director }} <br>
                <b> Avaliação :</b> {{ this.mv_Rated }} <br>
            </p>
        </md-card-content>
    </md-card>
</div>